<script defer src="{{ 'calculator.js' | asset_url }}"></script>

<link rel="stylesheet" href="{{ 'calc.css' | asset_url }}">

<!-- init calculator -->
<script
  defer
>

  var shopName = "{{ shop.name }}" + ".myshopify.com";

  let campaign = 0
  let campaignduration = 0

  let currentProductInfo = {
    id: "{{ product.id }}",
    handle: "{{ product.handle }}",
    type: "{{ product.type }}"
  };

  let isProductOnAkitions = false;

  {% if collections["akitions-test"] %}
    let akitionsCollection = {{ collections["akitions-test"].products | json }};
    const isProductIntoColletion = akitionsCollection.some((collection) => collection.id.toString() == currentProductInfo.id);
    isProductOnAkitions = currentProductInfo.type === "aktionszins" || isProductIntoColletion
  {% else %}
    isProductOnAkitions = false
  {% endif %}

  let [minMonth, maxMonth, stepMonth] = [0, 0, 0];
  let [firstInterestRate, secondInterestRate, thirdInterestRate] = [0, 0, 0];
  let displayCalculator = true
  
  function getMonthlyRateValue (monthlyValue) {
    const [bills, coins] = monthlyValue.split(",");
    document.getElementById('inlineResultBills').innerText = bills;
    document.getElementById('inlineResultCoins').innerText = coins;
  }

  function dynamicLegalTextFields () {
    const withLogoCalculator = document.getElementById('withLogoCalculator');
    const buttons = document.querySelectorAll('.month');
    const [parsedMinMonth, parsedMaxMonth] = [parseInt(minMonth), parseInt(maxMonth)]
    const monthlyRate = document.querySelector('.monthly-rate-value');
    
    if(monthlyRate && !withLogoCalculator){
      getMonthlyRateValue(monthlyRate.textContent)
    }

    for (const button of buttons) {
      if (button.classList.contains('selected')) {
        const selectedNumber = parseInt(button.textContent);

        let campaignInterestRate = false
        if(campaign != 0 && isProductOnAkitions){
          if(campaign == 1 && campaignduration == selectedNumber){
            campaignInterestRate = true
          }else if (campaign == 2 && campaignduration >= selectedNumber){
            campaignInterestRate = true
          }else if(campaign == 3 && campaignduration == selectedNumber){
            campaignInterestRate = true
          }
        }else{
          campaignInterestRate = false
        }
        if(selectedNumber === parsedMinMonth){
          document.getElementById('campaignInterestRate').innerText = campaignInterestRate ? "0.0 %" : `${firstInterestRate} %`;
          document.getElementById('campaignDuration').innerText = minMonth;
          return
        }
        if (selectedNumber === parsedMaxMonth){
          document.getElementById('campaignInterestRate').innerText = campaignInterestRate ? "0.0 %" : `${thirdInterestRate} %`;
          document.getElementById('campaignDuration').innerText = maxMonth;
          return
        }
        document.getElementById('campaignInterestRate').innerText = campaignInterestRate ? "0.0 %" : `${secondInterestRate} %`;
        document.getElementById('campaignDuration').innerText = selectedNumber;
        return
      }
    }    
  }
  
  async function handlePromise(jsonData) {
    var productPrice = {{ product.price }}/100;
    const zeroMonth = jsonData.zeroMonth;
    displayCalculator = productPrice > (jsonData.minBestellWert/100);
    [minMonth, maxMonth, stepMonth] = jsonData.laufzeiten.split(",");
    [firstInterestRate, secondInterestRate, thirdInterestRate] = jsonData.zinsSaetze.split(",");
    
    campaign = jsonData.aktionszins;
    campaignduration = jsonData.aktionsZinsMonate;

    let calculatorData = jsonData.aktionszins != 0 ? {
      minMonth: Number(minMonth),
      maxMonth: Number(maxMonth),
      stepMonth: Number(stepMonth),
      zeroMonth: Number(zeroMonth),
      firstInterestRate: Number(firstInterestRate),
      secondInterestRate: Number(secondInterestRate),
      thirdInterestRate: Number(thirdInterestRate),
      productPrice: productPrice,
      campaign: jsonData.aktionszins,
      campaignduration: jsonData.aktionsZinsMonate
    } : {
      minMonth: Number(minMonth),
      maxMonth: Number(maxMonth),
      stepMonth: Number(stepMonth),
      zeroMonth: Number(zeroMonth),
      firstInterestRate: Number(firstInterestRate),
      secondInterestRate: Number(secondInterestRate),
      thirdInterestRate: Number(thirdInterestRate),
      productPrice: productPrice,
    }
    console.log("calculatorData", calculatorData)
    jQuery(function($) {
      $('#calculator').calculator(calculatorData);
    });
  }

  $(document).ready(function(){
    fetch(`https://cons-f-dev.cpro-server.de/api/public/config?shop=${shopName}`)
      .then(response => response.json())
      .then(handlePromise)
      .catch(reason => {
        console.error("something went wrong", reason);
      });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const openDrawerBtn = document.getElementById('openDrawerBtn');
    const inlineCalcOverlay = document.getElementById('inlineCalcOverlay');
    const calcDrawerContainer = document.getElementById('calcDrawerContainer');
    const closeDrawerBtn = document.getElementById('inlineCalcCloseBtn');
    const calculator = document.getElementById('calculator');
    const headerContainer = document.querySelector('.header-wrapper');

    window.addEventListener('scroll', function() {
      if(calcDrawerContainer.style.display == "block"){
        const yCordenates = headerContainer.getBoundingClientRect().y
        if(Math.abs(yCordenates) >= headerContainer.offsetHeight){
          calcDrawerContainer.style.marginTop = `0px`
        }
        else{
          calcDrawerContainer.style.marginTop = `${headerContainer.offsetHeight}px`
        }
      }
    });

    openDrawerBtn.addEventListener('click', function () {
      calcDrawerContainer.style.marginTop = `${headerContainer.offsetHeight}px`
      calcDrawerContainer.style.display = "block";
      inlineCalcOverlay.style.display = "block";
      dynamicLegalTextFields()
    });

    calculator.addEventListener('click', function () { 
      if(calcDrawerContainer.style.display === "block"){
        dynamicLegalTextFields()
      }
    });

    closeDrawerBtn.addEventListener('click', function () {
      calcDrawerContainer.style.display = "none";
      inlineCalcOverlay.style.display = "none";
    });

    inlineCalcOverlay.addEventListener('click', function () {
      calcDrawerContainer.style.display = "none";
      inlineCalcOverlay.style.display = "none";
    })

    function setCalculatorDisplay() {
      const withoutLogoCalculator = document.getElementById('withoutLogoCalculator');
      const withLogoCalculator = document.getElementById('withLogoCalculator');

      if(displayCalculator && withLogoCalculator){
        withLogoCalculator.style.display = "flex";
      }
      else if(displayCalculator && withoutLogoCalculator){
        withoutLogoCalculator.style.display = "flex";
        const monthlyRate = document.querySelector('.monthly-rate-value');
        getMonthlyRateValue(monthlyRate.textContent)
      }
    }
    setTimeout(setCalculatorDisplay, 250);
  });
</script>

<!-- Calculator without Logo (inline) -->
{% if block.settings.calcOptions == 'inline' %}
  <div class="inline-calculator-front-container" id="withoutLogoCalculator">
    <div class="inline-calculator-content">
      <span>Financing from&nbsp;</span>
      <div class="inline-value-container">
        <span id="inlineResultBills"></span><span id="inlineResultCoins" class="inline-result-coins"></span>
      </div>
      <span>/ Month</span>
    </div>
    <button class="btn-reset inline-calculator-front-btn" id="openDrawerBtn">
      More information about the Consors Finanz
    </button>
  </div>
{% endif %}

<!-- Calculator with Logo -->
{% if block.settings.calcOptions == 'withLogo' %}
  <div class="product--financing" id="withLogoCalculator">
    <img
      class="financing--logo"
      src="{{ 'Consors_Finanz_Logo.png' | asset_url }}"
      alt="Consors Finanz Logo"
      width="200"
      height="45"
      loading="eager"
    >
    <div class="financing--text">
      Finanzieren Sie bequem mit Consors Finanz.<br>
      Weitere Informationen finden sie
      <button class="btn-reset" id="openDrawerBtn">hier</button>
    </div>
  </div>
{% endif %}

<div id="inlineCalcOverlay" class="inline-calc-overlay"></div>
<div id="calcDrawerContainer" class="calc-drawer-container">
  <span id="inlineCalcCloseBtn" class="inline-calc-closeBtn">&times;</span>
  <div id="inlineCalcDrawerContent" class="inline-calc-drawer-content">
    <div id="calculator" class="arrow-calculator-inline"></div>
    {% if block.settings.legalText != blank %}
      <div class="dynamicLegalText">{{ block.settings.legalTextDrawer }}</div>
    {% else %}
      <ul class="legal-text inline-dynamic-legal-text" id="dynamicLT">
        <li class="show-on-more-month">
          Finanzierung über einen bonitätsabhängigen Ratenkredit. Kaufpreis entspricht dem Nettodarlehensbetrag; Angaben
          zugleich repräsentatives Beispiel i. S. d. § 17 Abs. 4 PAngV.
        </li>
        <li class="legal-1 show-on-less-month" id="sentinel">
          Finanzierung Ihres Einkaufs (Ratenplan-Verfügung) über den Kreditrahmen mit Mastercard<sup>®</sup>, den Sie
          wiederholt in Anspruch nehmen können. Nettodarlehensbetrag bonitätsabhängig bis 15.000 &euro;. 17,90 %
          effektiver Jahreszinssatz. Vertragslaufzeit auf unbestimmte Zeit.
        </li>
        <li class="show-on-less-month">
          <strong>
            <u>Ratenplan-Verfügung:</u>
          </strong>
          Gebundener Sollzinssatz von
          <span class="campaign-interest-rate" id="campaignInterestRate">0,00 %</span>
          (jährlich) gilt nur für die ersten
          <span class="campaign-duration" id="campaignDuration">0</span>
          Monate ab Vertragsschluss (Zinsbindungsdauer); Sie müssen monatliche Teilzahlungen in der von Ihnen gewählten
          Höhe leisten. Führen Sie Ihre Ratenplan-Verfügung nicht innerhalb der Zinsbindungsdauer zurück, gelten die
          Konditionen für Folgeverfügungen.
        </li>
        <li class="show-on-less-month">
          <strong>
            <u>Folgeverfügungen:</u>
          </strong>
          Für andere und künftige Verfügungen (Folgeverfügungen) beträgt der veränderliche Sollzinssatz (jährlich) 16,58
          % (falls Sie bereits einen Kreditrahmen bei uns haben, kann der tatsächliche veränderliche Sollzinssatz
          abweichen). Für Folgeverfügungen müssen Sie monatliche Teilzahlungen in der von Ihnen gewählten Höhe, mind.
          aber 2,5% der jeweils höchsten, auf volle 100 € gerundeten Sollsaldos der Folgeverfügungen (mind. 9 €)
          leisten. Zahlungen für Folgeverfügungen werden erst auf verzinste Folgeverfügungen angerechnet, bei
          unterschiedlichen Zinssätzen zuerst auf die höher verzinsten.
        </li>

        <li class="show-on-less-month">
          Angaben zugleich repräsentatives Beispiel gem. § 17 Abs. 4 PAngV. Gültig für Kunden ab 18 Jahren mit Wohnsitz
          in Deutschland, gültigem Personalausweis oder Reisepass (Nicht-EU-Bürger i.V.m. gültigem Aufenthaltstitel),
          gültiger EC-Karte auf eigenen Namen und Mindestnettoeinkommen von 450 € (ohne Kindergeld). Selbständige:
          Finanzierung nur für private Zwecke, mind. 24 Monate Selbständigkeit. Ggfs. wird ein aktueller
          Gehalts-/Einkommensnachweis benötigt. Vermittlung erfolgt ausschließlich für den Kreditgeber BNP Paribas S.A.
          Niederlassung Deutschland, Rüdesheimer Straße 1, 80686 München. Widerrufsrecht: Der Darlehensnehmer kann seine
          Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen widerrufen. Zur Wahrung der Widerrufsfrist
          genügt die rechtzeitige Absendung des Widerrufs, wenn die Erklärung auf einem dauerhaften Datenträger (z.B.
          Brief, Telefax, E-Mail) erfolgt. Der Widerruf ist zu richten an: BNP Paribas S.A. Niederlassung Deutschland,
          Wuhanstraße 5, 47051 Duisburg (Fax: 02 03/34 69 54-09; Tel.: 02 03/34 69 54-02; E- Mail:
          widerruf@consorsfinanz.de).
        </li>
      </ul>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Consors Calc options",
  "target": "section",
  "settings": [
    {
      "type": "radio",
      "id": "calcOptions",
      "label": "Consors calculator options",
      "options": [
        {
          "value": "inline",
          "label": "inline calculator"
        },
        {
          "value": "withLogo",
          "label": "Calculator with logo"
        }
      ],
      "default": "withLogo"
    },
    {
      "type": "richtext",
      "id": "legalText",
      "label": "legal Text"
    }
  ]
}
{% endschema %}
